* {
    font-family: 'Kumbh Sans', sans-serif;
    text-decoration: none !important;
}

body {
      background: #1D1330;
      background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    font-family: 'Kumbh Sans', sans-serif;
    background: #1D1330;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.linkedin-follow-button {
    display: inline-block;
    padding: 10px 15px;
    color: #fff;
    background-color: rgb(105, 152, 223);
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
    position: relative;
    transition: all 0.3s ease; /* Add transition for color change */
}

.linkedin-follow-button:hover {
    background: #f77062;
    transition: all 0.3s ease; /* Maintain the transition effect */
}


.nav-buttons {
    display: flex;
    align-items: center; /* Align items vertically */
    justify-content: flex-end;
}


.nav-text {
    font-size: 16px;
    color: white;
    margin: 0 5px; /* Set the right and left margins to 10px */
    border: none;
    background: none;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-text:hover {
    color: white; /* Change the text color on hover */
    box-shadow: inset 100px 0 0 0  #29abf4; /* Add the box shadow on hover */
}
#title {
    margin-top: 200px;
    display: flex;
     flex-direction: column;
    align-items: flex-start; /* Align title to the left */
    margin-left: 20px; /* Adjust left margin as needed */
    font-size: 50px;
        margin-bottom: 100px; /* Adjust this value as needed to reduce the gap */
           animation: revealText 2s ease-in-out forwards;

}

#mini-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
    font-size: 45px;
}

.section-heading {
 background-color: #ff8177;
 background-image: linear-gradient(to right, #29abf4, #A1DAF5);

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#sub-title {
    display: flex;
    margin-top: 0; /* Adjust this value as needed to reduce the gap */
     flex-direction: column;
    align-items: center; /* Align title to the left */
     background-color: #ff8177;
 background-image: linear-gradient(to right, #ff0844, #ffb199);
    font-size: 35px;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#background-text {
    display:inline-block;
    width: 399px;
    margin-left: auto;
    margin-right: auto;
    height: 41px;
    background-color: white;
    position: absolute; /* or 'relative' */
    z-index: -1; /* to ensure it sits behind */
    top: 550px; /* adjust as needed */
    left: 9px; /* adjust as needed */
    right: 0; /* adjust as needed */
    bottom: 0; /* adjust as needed */

}

#logo-img {
    width:200px;
    padding: 10px;
}

#support {
    margin-right: 20px;
}

#help {
    /*background: white;*/
    width: 800px;
    height: 350px;
    margin-right: auto;
    margin-left: auto;
}

.input-section {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border: 2px solid #000;
    border-radius: 5px;
    padding-left: 30px;
    width: 400px;
}

.input-section:focus {
    box-shadow: 2px 3px 3px #2C2D2D;
}

#email {
    margin-top: 20px;
      background: url("images/email-icon.png") no-repeat scroll -1px -2px;
    background-size: 35px; 
     background-color: white;
}

#subject {
    margin-top: 10px;
      background: url("images/subject-icon.png") no-repeat scroll -1px -2px;
    background-size: 35px; 
    margin-bottom: 10px;
    background-color: white;
}

#text-area {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border: none;
    padding-left: 30px;
    width: 400px;
}

.ql-container.ql-snow {
    border: 2px solid #000 !important;
    border-radius: 5px !important;
    margin-bottom: 20px;
    background: white !important;
}

.ql-toolbar.ql-snow {
    background: white !important;
    border: 2px solid #000 !important;
}

#company-name {
    display: inline-block; /* Changed from block to inline-block */
    font-size: 18px;
    color: white;
    margin: 0 5px;
     margin-left: 200px;
    text-shadow: 1px 1px 0 #000;
    border: none;
    background: none;
    font-weight: bold;
    vertical-align: middle; /* Added to align vertically with the dropdown */
}

#myDropdown {
    display: inline-block;
    padding: 10px 15px;
    color: #00008b;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 203px;
    vertical-align: middle; /* Added to align vertically with the company name */
}

#myDropdown:focus {
    box-shadow: 2px 3px 3px #2C2D2D;
}


.outer {
  display: flex;
    justify-content: flex-start;
}

.button {
  border: 1px solid black;
  width: 100px;
  margin-top: 50px;
  height: 30px;
  display: inline-block;
padding: 10px 15px;
    background: linear-gradient(to right, #f77062 50%, rgb(105, 152, 223) 50%);
    border-radius: 4px;
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all .4s ease-out;
  margin-bottom: 20px;
}

.button:hover {
  background-position: left bottom;
}

.text {
  text-align: center;
  font-size: 16px;
  line-height: 30px; 
  color: #fff;
  transition: all .6s ease-out;
  display: block;
}

.text:hover {
  color: white;  
}

.button.clicked {
  width: 50px; /* Adjusted width */
  padding: 10px 0; /* Adjust padding to maintain button height */
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-div {
    background: linear-gradient(to right, #1D1330 10%, #1F263D 10%, #1F263D 90%, #1D1330 90%);
    margin-bottom: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: auto; /* Ensures that the div contains floated or absolutely positioned children */
}

#details {
    color: #858585;
    text-align: left;
    display: flex;
    margin-left: 220px; /* Adjusted from 170px to 0 */
    margin-right: auto;
    justify-content: flex-start;
    font-weight: bold;
}

#elipses-img {
    position: absolute;
    top: -50px; /* Adjust as needed */
    left: 0;
    right: 300px; /* Specify a valid unit (e.g., px or %) */
    text-align: center;
    z-index: -1;
    height: 500px; /* Adjust as needed */
}

@keyframes revealText {
            0% {
                opacity: 0;
                transform: translateY(-20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        
#footer {
    height: 100px;
    width: 100%;
    background-color: #303030;    
}

#footer-text {
    padding-top: 30px;
     padding-left: 30px;
     font-weight: normal;
     text-align: center;
    color: #aaaaaa;
}